body {
    font-family: 'Arial', sans-serif;
    background-color: #f8e1e7;
    margin: 0;
    padding: 0;
    color: #333;
}

h1 {
    text-align: center;
    color: #ff69b4;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con transparencia */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    width: fit-content;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 20px auto;
}

label {
    font-weight: bold;
    color: #c71585;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #ff69b4;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #c71585;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    background-color: #ffe4e1;
}

th {
    background-color: #ff69b4;
    color: white;
}
