body {
    font-family: 'Arial', sans-serif;
    background-image: url('boutique-background.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    color: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 192, 203, 0.8); /* Fondo rosa con transparencia */
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: rgba(255,